@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

:root {
    --color-b0: rgb(0, 37, 75);
    --color-b1: rgb(0, 51, 102);
    --color-b2: rgba(0, 51, 102, 0.5);
    --color-g: #a0a0a0;
    --color-o: #ffa500;

    --font-h1: "Turret Road", sans-serif;
    --font-p: arial, verdana, helvetica, sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color-b2);
}

header {
    position: relative;
    background-image: linear-gradient(to bottom, var(--color-b0), var(--color-b1));
    color: white;
    height: 100px;
    text-align: center;
    font-family: var(--font-h1);
    font-size: 1em;
}

header > div.content {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

nav {
    background-color: var(--color-b1);
    color: white;
    font-family: var(--font-p);
    padding: 10px;
}

nav a {
    padding: 7px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: var(--color-o);
    background-color: rgb(255, 255, 255);
    transition-duration: 0.2s;
}

main{
    font-family: var(--font-p);
}

section.section-01 {
    background-image: url(../img/background-ferramentas2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: 30vh;
}

section.section-01 h1 {
    background-color: var(--color-b1);
    color: var(--color-o);
    padding: 20px;
    border-radius: 20px;
}

section.section-02 {
    text-align: center;
    margin: 50px auto;
}

section.section-02 a {
    color: white;
    text-decoration: none;
}

section.section-02 a:hover {
    color: var(--color-o);
}

section.section-02 div {
    display: inline-block;
    background-color: white;
    text-align: center;   
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    background-color: var(--color-b1);

    width: 25%;

    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.6);
}

section.section-02 div:hover {
    transform: translate(6px, -6px);
    background-color: white;
    transition-duration: 0.25s;
    
}

section.section-02 div h1{
    font-size: 100%;
}

section div.content {
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    font-family: var(--font-p);
}

footer p {
    color: white;
    text-align: center;
    margin: 10px;
}

footer a {
    text-decoration: none;
    color: var(--color-o);
}

footer a div {
    display: inline-block;
}

footer img {
    display: inline-block;
    height: 40px;
    margin: 15px 25px;
}